@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/RobotoMono-Thin.ttf');
  
}

*{
  font-family: 'Roboto Mono', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  color: aliceblue;
  background: linear-gradient(to right, rgb(241, 242, 181), rgb(19, 80, 88));
}